.text-color {
  color: #bdba35;
}
.bg-color {
  background-color: #bdba35;
}
.form-control {
  border: none;
  border-bottom: 1px solid #ebebeb;
  border-radius: 0;
}

.modal-footer {
  border-top: 0;
}
.activity {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
